/*.select-area{*/
/*    width: 100%;*/
/*}*/

#select-area-modify {
    width: 100%;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.detail-change-area>table{
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.detail-change-area>table td{
    height: 40px;
}

.detail-change-area input{
    text-align: center;
    width: 30px;
    border-bottom: none;
    box-shadow: #737373 ;
}

.detail-change-area{
    display: none;
}

.enable_in,.count_in {
    cursor: default;
}