*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    display: flex;
    justify-items: center;
    min-height: 100vh;
    background: #3E85EF;
    margin: 0 auto;
}

/* 모달 창을 위한 스타일 */
.modal {
    display: none;
    /* 기본적으로 모달 창을 숨김 */
    position: fixed;
    /* 모달 창이 스크롤되지 않도록 고정 */
    z-index: 1;
    /* 모달 창이 다른 요소 위에 나타남 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* 스크롤 가능하도록 함 */
    background-color: rgba(0, 0, 0, 0.4);
    /* 배경에 반투명한 색상 적용 */
}

/* 모달 창 내용을 위한 스타일 */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 70%;
}

.modal-content > .close{
    width: 20px;
    margin-left: 98%;
    margin-bottom: 10px;
}

/* 닫기 버튼을 위한 스타일 */
.close {
    color: #aaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
}

/* 닫기 버튼에 마우스를 올렸을 때의 스타일 */
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content>p{
    padding-bottom: 20px;
    font-size: 27px;
    font-family: 'nanum';
    font-weight: 700;
}

.text-area{
    display: flex;
    flex-direction: row;
}

.hosp-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    color: #3E85EF;
}

.hosp-list-area > .spinner-border{
    display: none;
    margin: 0 auto;
}

#hosp-search{
    width: 87%;
    height: 32px;
}

#hosp-search-btn{
    width: 13%;
    height: 32px;
}
/* ================================================ */

.err{
    display: none;
}
