/* header 및 sidebar */
.mypage-title p{
    font-size: xx-large;
    font-weight: bolder;
    padding: 30px;
}

.content-wrapper {
    display: flex;
    height: 1024px;
}

#sidebar {
    height: 100%;
    width: 220px;
    border-right: 1px solid #dcdcdc;
    padding-right: 15px;
    box-sizing: border-box;
}

#ul-nav {
    margin-top: 20px;
}

#ul-nav li div {
    padding: 10px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
}

#ul-nav li div:hover {
    background-color: #e9e9e9;
}

/* 본문 */
#main-section {
    flex-grow: 1;
    padding: 0px 20px;
}

/*#div-appo{*/
/*    display: none;*/
/*}*/

.main-div{
    display: none;
}

#div-schedule{
    display: block;
}

/* 의사선택 영역 표시 기본 */
/*#docChoose{*/
/*    display: none;*/
/*}*/