/* 프리텐다드 폰트 설정 */
@font-face {
    font-family: 'Pretendard-Regular';
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

html, body {
    height: 100%;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section {
    flex: 1;
    padding: 20px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    color: #000000;
    cursor: pointer;
    text-decoration: none;
}

li, ul{
    list-style: none;
}

button{
    height: 35px;
    background: #3E85EF;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

button:disabled{
    color: white;
    background-color: gray;
}

input{
    outline: none;
    border: none;
    border-bottom: 1px solid #bebebe;
}

