/* === hospital appointment Management === */

/*head,body{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*.selected{*/
/*    background: #66B2FF;*/
/*}*/

/*section{*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    flex: 1 1 100%;*/
/*    margin-top: 20px;*/
/*}*/

/*.menu-bar-area{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 15px;*/
/*    min-width: 200px;*/
/*}*/

/*#menu-bar{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    text-align: left;*/
/*    padding: 10px;*/
/*    border-right: 1px solid black;*/
/*    gap: 15px;*/
/*}*/

.select-area{
    width: 100%;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}


#time-bar-area {
    display: none;
    /*display: flex;*/
    /*flex-direction: column;*/
}

#time-bar-area>ul{
    border: 2px solid black;
}

#time-bar-area li{
    text-align: center;
    height: 30px;
    /*background: #66B2FF;*/
    border-bottom: 2px solid black;
}

#time-bar-area li:last-child {
    border: none;
}

.modal {
    display: none;
    /* 기본적으로 모달 창을 숨김 */
    position: fixed;
    /* 모달 창이 스크롤되지 않도록 고정 */
    z-index: 1;
    /* 모달 창이 다른 요소 위에 나타남 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* 스크롤 가능하도록 함 */
    background-color: rgba(0, 0, 0, 0.4);
    /* 배경에 반투명한 색상 적용 */
}

/* 모달 창 내용을 위한 스타일 */
.modal-content {
    /*display: flex;*/
    background-color: #fefefe;
    margin: 15% auto;
    padding: 40px;
    border: 1px solid #888;
    width: 70%;

}

.modal-content h3{
    margin: 20px 0 20px 10px;
    font-size: 25px;
}

.modal-content p{
    margin-bottom: 10px;
    margin-left: 20px;
}

/* 모달창 닫기 */
.close{
    font-size: 40px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}


/* 테이블 */
.detail-area table{
    width: 100%;
    /*background: #dcffe7;*/
    text-align: center;
}

#table-body>tr:hover{
    background: #E4F3FF;
}

.detail-area {
    display: none;
}

.selected-time {
    background: #93dbe9;
}

#change-info {
    margin-top: 20px;
    margin-left: 10px;
}

/* modal */
#mo-time-list>li {
    font-size: 18px;
    margin-bottom: 10px;
    cursor: pointer;
}

#mo-time-list>li:hover{
    background: #cccccc;
}

#mo-time-list>li:first-child {
    margin-top: 10px;
}

#modify-date {
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 12px;
}