@font-face {
    font-family: 'Pretendard-Regular';
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

*{
    font-family: 'Pretendard-Regular';
}

#hospital-name{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.select-option{
    height: 300px;
    overflow: auto;
    /*gap: 50px;*/
    padding: 25px 30px 15px 30px;
    /*grid-template-columns: repeat(3, 1fr);*/
    max-width: 1100px;
    min-height: 300px;
    margin: 0 auto;
}

.option {
    background: #E4F3FF;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    /* width: 150px; */
    height: 80px;
    border-radius: 5px;
    text-align: left;
    padding-left: 60px;
    margin-bottom: 20px;
    line-height: 80px;
    font-size: 20px;
    color: #737373;
}

.option:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 4px rgba(0, 0, 0, 0.2);
    color: black;
}


.selected {
    background: #74aedb;
    color: black;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 4px rgba(0, 0, 0, 0.2);
}


/* 의사선택 부분 */
fieldset {
    background: white;
    box-shadow: 0 10px 20px rgb(0 0 0 / 11%), 0 6px 4px rgb(0 0 0 / 0%);
    border-radius: 20px;
    border: 2px solid #f4f4f4;
    color: white;
}

fieldset legend{
    border: 4px solid white;
    border-radius: 15px;
    margin-left: 20px;
    background: #74aedb;
    font-size: 30px;
    padding: 20px;
}



#main-section>h1{
    padding-left: 30px;
}

h1{
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.date-style{
    width: 150px;
    font-size: 15px;
    font-family: emoji;
}

.doctor-area{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    border: 1px solid #dce1e5;
    border-radius: 16px;
    transition: border-color .2s;
    color: black;
    width: 300px;
    height: 300px;
}

/* 제외 area */
/*#time-set-area {*/
/*    display: none;*/
/*}*/

.date-set-area>h1{
    margin-top: 20px;
    margin-bottom: 20px;
}

#start-end-date{
    display: flex;
}

#start-end-date>div{
    margin-right: 30px;
}

#start-end-date>h3{
    padding-bottom: 10px;
}


/* ====== hide 처리 ===== */
#except-area {
    display: none;
    margin-top: 30px;
}

#except-area>#set-day{
    display: flex;
    align-items: center;
}


/* 제외날짜 추가 버튼 */
#except-add{
    width: 40px;
    height: 30px;
    background: #3e85ef;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
}

.time-set-area{
    display: none;
    height: 500px;
}

.meal-time-set-area{
    display: none;
}

#except-days-area {
    margin-top: 20px;
    background: #e4f3ff82;
    border-radius: 10px;
    width: 100%;
    height: 200px;
}

.remove{
    margin: 10px 5px 10px 10px;
}

.week-title {
    font-style: italic;
    width: 10%
}

.week-area {

    width: 100%;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.week-area>input{
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;
    width: 100px;
}

#time-set-btn{
    margin-top: 10px;
}

#set-weekday{
    background: #e4f3ff82;
    height: 430px;
}

#lunch-dinner{
    background: #e4f3ff82;
    display: flex;
    margin-bottom: 20px;
}

.inp{
    width: 40px;
    margin-left: 20px;
}

h3{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* 전체 화면 */
#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    z-index: 1001;
}

.loading-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 600px;
    padding: 100px;
    border-radius: 20px;
    background: white;
}

/*.loading-content img {*/
/*    width: 50px;*/
/*    height: 50px;*/
/*}*/

.loading-content p {
    font-size: 1.2em;
    font-weight: bold;
}


@keyframes ldio-zhpd3csebyc {
    0% { opacity: 1 }
    100% { opacity: 0 }
}
.ldio-zhpd3csebyc div {
    left: 94px;
    top: 48px;
    position: absolute;
    animation: ldio-zhpd3csebyc linear 1s infinite;
    background: #93dbe9;
    width: 12px;
    height: 24px;
    border-radius: 6px / 12px;
    transform-origin: 6px 52px;
}.ldio-zhpd3csebyc div:nth-child(1) {
     transform: rotate(0deg);
     animation-delay: -0.9166666666666666s;
     background: #93dbe9;
 }.ldio-zhpd3csebyc div:nth-child(2) {
      transform: rotate(30deg);
      animation-delay: -0.8333333333333334s;
      background: #93dbe9;
  }.ldio-zhpd3csebyc div:nth-child(3) {
       transform: rotate(60deg);
       animation-delay: -0.75s;
       background: #93dbe9;
   }.ldio-zhpd3csebyc div:nth-child(4) {
        transform: rotate(90deg);
        animation-delay: -0.6666666666666666s;
        background: #93dbe9;
    }.ldio-zhpd3csebyc div:nth-child(5) {
         transform: rotate(120deg);
         animation-delay: -0.5833333333333334s;
         background: #93dbe9;
     }.ldio-zhpd3csebyc div:nth-child(6) {
          transform: rotate(150deg);
          animation-delay: -0.5s;
          background: #93dbe9;
      }.ldio-zhpd3csebyc div:nth-child(7) {
           transform: rotate(180deg);
           animation-delay: -0.4166666666666667s;
           background: #93dbe9;
       }.ldio-zhpd3csebyc div:nth-child(8) {
            transform: rotate(210deg);
            animation-delay: -0.3333333333333333s;
            background: #93dbe9;
        }.ldio-zhpd3csebyc div:nth-child(9) {
             transform: rotate(240deg);
             animation-delay: -0.25s;
             background: #93dbe9;
         }.ldio-zhpd3csebyc div:nth-child(10) {
              transform: rotate(270deg);
              animation-delay: -0.16666666666666666s;
              background: #93dbe9;
          }.ldio-zhpd3csebyc div:nth-child(11) {
               transform: rotate(300deg);
               animation-delay: -0.08333333333333333s;
               background: #93dbe9;
           }.ldio-zhpd3csebyc div:nth-child(12) {
                transform: rotate(330deg);
                animation-delay: 0s;
                background: #93dbe9;
            }
.loadingio-spinner-spinner-822xu4kqp5u {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;

}
.ldio-zhpd3csebyc {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-zhpd3csebyc div { box-sizing: content-box; }