section{
    display: flex;
    position: relative;
    overflow: hidden;
}

.index-search{
    width: 50%;
    text-align: end;
}

.index-search img{
    width: 17px;
}

.search-input{
    width: 70%;
    margin-right: 10px;
}

.flex-area{
    display: flex;
    justify-content: space-between;
}
.list-title{
    font-size: x-large;
    padding: 10px;
    font-weight: 500;
    color: #4C85D0;
}

.hospital-li{
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-bottom: 20px;
}

.hospital-li:hover{
    cursor: pointer;
    border: #74aedb 2px solid;
}

.hospital-li a>*{
    word-break: keep-all;
}

#hospital-list{
    margin-right: 20px;
    min-width: 40%;
    max-width: 40%;
}

#hospital-list-ul{
    margin-right: 20px;
    /*overflow: hidden;*/
    height: 800px;
    overflow: auto;
}

#hospital-list-btn{
    margin-right: 20px;
}

#prev, #next{
    /*color: black;*/
    background: #ffffff;
    /*border: 0.8px solid #bebebe;*/
    /*border-radius: 28px;*/
}


/* spinner */
#loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 1);
    z-index: 1001;
}

.loading-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    padding: 100px;
    border-radius: 20px;
    background: white;
}

.loading-content p {
    font-size: 1.2em;
    font-weight: bold;
}


@keyframes ldio-zhpd3csebyc {
    0% { opacity: 1 }
    100% { opacity: 0 }
}
.ldio-zhpd3csebyc div {
    left: 94px;
    top: 48px;
    position: absolute;
    animation: ldio-zhpd3csebyc linear 1s infinite;
    background: #93dbe9;
    width: 12px;
    height: 24px;
    border-radius: 6px / 12px;
    transform-origin: 6px 52px;
}.ldio-zhpd3csebyc div:nth-child(1) {
     transform: rotate(0deg);
     animation-delay: -0.9166666666666666s;
     background: #93dbe9;
 }.ldio-zhpd3csebyc div:nth-child(2) {
      transform: rotate(30deg);
      animation-delay: -0.8333333333333334s;
      background: #93dbe9;
  }.ldio-zhpd3csebyc div:nth-child(3) {
       transform: rotate(60deg);
       animation-delay: -0.75s;
       background: #93dbe9;
   }.ldio-zhpd3csebyc div:nth-child(4) {
        transform: rotate(90deg);
        animation-delay: -0.6666666666666666s;
        background: #93dbe9;
    }.ldio-zhpd3csebyc div:nth-child(5) {
         transform: rotate(120deg);
         animation-delay: -0.5833333333333334s;
         background: #93dbe9;
     }.ldio-zhpd3csebyc div:nth-child(6) {
          transform: rotate(150deg);
          animation-delay: -0.5s;
          background: #93dbe9;
      }.ldio-zhpd3csebyc div:nth-child(7) {
           transform: rotate(180deg);
           animation-delay: -0.4166666666666667s;
           background: #93dbe9;
       }.ldio-zhpd3csebyc div:nth-child(8) {
            transform: rotate(210deg);
            animation-delay: -0.3333333333333333s;
            background: #93dbe9;
        }.ldio-zhpd3csebyc div:nth-child(9) {
             transform: rotate(240deg);
             animation-delay: -0.25s;
             background: #93dbe9;
         }.ldio-zhpd3csebyc div:nth-child(10) {
              transform: rotate(270deg);
              animation-delay: -0.16666666666666666s;
              background: #93dbe9;
          }.ldio-zhpd3csebyc div:nth-child(11) {
               transform: rotate(300deg);
               animation-delay: -0.08333333333333333s;
               background: #93dbe9;
           }.ldio-zhpd3csebyc div:nth-child(12) {
                transform: rotate(330deg);
                animation-delay: 0s;
                background: #93dbe9;
            }
.loadingio-spinner-spinner-822xu4kqp5u {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;

}
.ldio-zhpd3csebyc {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-zhpd3csebyc div { box-sizing: content-box; }