@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

table, th, td {
    border : none;
}

th, td {
    width: 100px;
    text-align: center;
}

table {
    padding: 30px;
    background: lightgray;
}