/* 찜 영역 */
.likeHospital-area{
    display: flex;
    gap: 10px;
    justify-content: end;
    margin-bottom: 10px;
}

.likeHospital-area img{
    width: 25px;
    height: 25px;
}

/*.noLike, .yesLike {*/
/*    display: none;*/
/*}*/

/* 카카오맵 영역 */
.kakaoMap-area{
    width: 100%;
    height: 300px;
    border: 1px solid black;
    border-radius: 10px;
}

/* 병원 및 의사 정보*/
.hospital-detail-info{
    margin-top: 50px;
}

h3{
    margin-bottom: 10px;
}
.info-title{
    margin-bottom: 20px;
}

.doctor-info{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.doctor-card{
    display: flex;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 400px;
    flex-direction: row;
}

.doctor-text {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.doctor-card img{
    width: 70px;
    height: 70px;
}

#doctor-no{
    display: none;
}

/* 예약 캘린더 */
.appo-table{
    display: flex;
    margin-top: 30px;
    align-items: flex-start;
}

td {
    width: 50px;
    height: 50px;
}

.Calendar {
    text-align: center;
    width: 600px;
    flex-shrink: 0;
}

.Calendar > thead > tr:first-child > td {
    font-weight: bold;
}

.Calendar > thead > tr:last-child > td {
    background-color: gray;
    color: white;
}

.pastDay {
    background-color: lightgray;
}

.today {
    background-color: #FFCA64;
    cursor: pointer;
}

.futureDay {
    background-color: #FFFFFF;
    cursor: pointer;
}

.futureDay.choiceDay, .today.choiceDay {
    background-color: #3E85EF;
    color: #fff;
    cursor: pointer;
}

/* 타임 테이블 */
.time-slots-table {
    display: none;
    margin-left: 40px;
    margin-top: 40px;
}

.time-slot-card {
    display: inline-block;
    padding: 15px;
    margin: 5px;
    border: 1px solid #e0e0e0;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    width: 150px;
    text-align: center;
    transition: transform 0.3s ease;
}

.time-slot-card:hover {
    transform: scale(1.05);
}

.time-slot-content {
    font-size: 16px;
}

/* max = count timeSlots 비활성화 */
.full-time-slot {
    background-color: #E9E9E9;
    pointer-events: none;  /* 클릭 방지 */
    cursor: not-allowed;  /* 커서 모양 변경 */
    opacity: 0.5;
}
