/*@font-face {*/
/*    font-family: 'omyu_pretty';*/
/*    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*}*/

@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

section{
    overflow-y: unset;
}

.index-session{
    background-image:
            linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
            url("../image/main_img_02.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.session-title{
    text-align: center;
    color: #ffffff;
    font-size: 2rem;
    font-family: 'SEBANG_Gothic_Bold';
    line-height: 52px;
    letter-spacing: 1px;
}

.index-search{
    text-align: center;
}

#search-input{
    width: 50%;
    background: none;
    color: #ffffff;
    font-size: large;
}

#search-input::placeholder{
    color: #ffffff;
}

.shortCut-container{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    margin-top: 40px;
}

.shortCut-container p{
    text-align: center;
    font-family: 'SEBANG_Gothic_Bold', sans-serif;
    margin-bottom: 20px;
}

.shortCut-area{
    display: flex;
    /*justify-content: center;*/
    justify-content: space-around;
}

.shortCut-area p{
    font-family: 'SEBANG_Gothic_Bold', sans-serif;
    font-size: large;
    font-weight: 500;
    margin-bottom: 50px;
}

.shortCut-area img{
    width: 130px;
    height: 130px;
}

.shortCut-container{
    display: flex;
}

.shortCut-title{
    color: #74aedb;
}

/*#find-nearby-hospital-div, #user-myPage, #favorite-hospital-div{*/
/*    margin-right: 50px;*/
/*}*/

#find-nearby-hospital-div p, #user-myPage p, #favorite-hospital-div p{
    margin-top: 20px;
    transition: transform 0.3s;
}

#find-nearby-hospital-div img, #user-myPage img, #favorite-hospital-div img {
    transition: transform 0.3s;
}

#find-nearby-hospital-div:hover img {
    transform: scale(1.1);
}

#user-myPage:hover img {
    transform: scale(1.1);
}

#favorite-hospital-div:hover img {
    transform: scale(1.1);
}

#find-nearby-hospital-div:hover{
    cursor: pointer;
    transform: scale(1.1);
}

#user-myPage:hover{
    cursor: pointer;
    transform: scale(1.1);
}

#favorite-hospital-div:hover{
    cursor: pointer;
    transform: scale(1.1);
}