@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#main-section {
    padding: 50px;
    width: 1024px;
}

.loginTitle {
    font-family: 'ONE-Mobile-POP', sans-serif;
    font-size: 40px;
    color: #74aedb !important;
    text-align: center;
}

.notice-title{
    font-family: 'omyu_pretty', sans-serif;
}

#main-section {
    padding: 50px;
    width: 80%;
}

.wrapper{
    background: #74aedb;
    padding: 30px;
    border-radius: 5px;
}

#form{
    display: block;
}

.login-form {
    display: none;
}

.login-div{
    padding: 70px;
    background: #ffffff;
    border-radius: 5px;
}

#form, .login-form{
    text-align: center;
    width: 80%;
    margin: 100px auto;
}

label{
    display: inline-block;
    width: 100px;
    margin-right: 20px;
    text-align: center;
}

input{
    display: inline-block;
    width: 70%;
    height: 40px;
    outline: none;
    border: none;
    border-bottom: 1px solid #bebebe;
}

#div-id, #div-pw, .div-pw, .div-id{
    margin-bottom: 30px;
}

#div-btn, .div-btn{
    margin-bottom: 30px;
}


#submit:hover{
    cursor: pointer;
}

#submit-btn:hover{
    cursor: pointer;
}

#submit, #findIdAndPw {
    margin: 0 10px;
}

#submit-btn{
    margin: 0 10px;
    height: 35px;
    background: #3E85EF;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 55px;
}

.login-notice {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.notice-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    /*font-weight: bold;*/
}

.sign-up-area{
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.sign-up-area p, .sign-up-area a {
    margin-right: 10px;
}

.sign-up-area a {
    text-decoration-line: underline;
    color: #3E85EF;
    text-decoration-color: #3E85EF;
}